/* dashboard.component.css */

/* Estilo para o contêiner principal do dashboard */
div {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para o cabeçalho do dashboard */
  h2 {
    color: #333;
  }
  
  /* Estilo para o parágrafo descritivo */
  p {
    color: #555;
  }
  
  /* Estilo para a lista de funcionalidades */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-top: 10px;
  }
  
  /* Estilo para os links na lista de funcionalidades */
  a {
    text-decoration: none;
    color: #337ab7;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #286090;
  }
  
button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #d32f2f;
}
