<div class="dashboard-container">
  <h2>Bem-vindo ao Dashboard</h2>
  <p>Explore as funcionalidades disponíveis:</p>

  <div class="feature-card" *ngFor="let feature of dashboardFeatures">
    <a [routerLink]="feature.link" class="feature-link">
      <div class="feature-icon">
        <i *ngIf="feature.title === 'Clientes'" class="fas fa-users"></i>
        <i *ngIf="feature.title === 'Fornecedores'" class="fa-solid fa-user-tie"></i>
        <i *ngIf="feature.title === 'Categorias'" class="fa-solid fa-square-poll-horizontal"></i>
        <i *ngIf="feature.title === 'Produtos'" class="fa-solid fa-store"></i>
        <i *ngIf="feature.title === 'Pedidos'" class="fa-solid fa-bell"></i>
        <i *ngIf="feature.title === 'Pagamento'" class="fa-solid fa-credit-card"></i>
      </div>
      <div class="feature-info">
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
      </div>
    </a>
  </div>

  <button (click)="logout()">Logout</button>
</div>
