<div class="login-container">

  <form [formGroup]="registroForm" (ngSubmit)="registrar()" class="login-form">
    <label>Login:</label>
    <input formControlName="login" required>

    <label>Email:</label>
    <input formControlName="email" type="email" required>

    <label>Password:</label>
    <input formControlName="password" type="password" required>

    <button type="submit">Registrar</button>
    <button (click)="voltarParaLogin()" class="back-button">Login</button>
  </form>

  <div *ngIf="registroError" class="error-message">
    {{ registroError }}
  </div>
</div>
