<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-container">
  <label>Login:</label>
  <input formControlName="login" required>
  <div *ngIf="loginForm.get('login')?.hasError('required') && loginForm.get('login')?.touched" class="error-message">
    Campo obrigatório.
  </div>

  <label>Password:</label>
  <input formControlName="password" type="password" required>
  <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
    Campo obrigatório.
  </div>

  <button type="submit">Login</button>

  <button (click)="redirectToRegistration()" class="register-button">Registrar</button>
</form>
