<div class="container">
  <h2>Pedidos</h2>
  <button routerLink="/dashboard" class="back-button">Voltar para o Dashboard</button>

  <div class="form-section">
    <h3>{{ pedidoSelecionado ? 'Detalhes do Pedido' : 'Novo Pedido' }}</h3>
    <form *ngIf="!pedidoSelecionado" (submit)="criarPedido()" class="pedido-form">
      <label for="clienteId">ID do Cliente:</label>
      <input type="number" id="clienteId" name="clienteId" [(ngModel)]="novoPedido.clienteId" required>

      <label for="produtoId">ID do Produto:</label>
      <input type="number" id="produtoId" name="produtoId" [(ngModel)]="novoPedido.produtoId" required>

      <label for="quantidade">Quantidade:</label>
      <input type="number" id="quantidade" name="quantidade" [(ngModel)]="novoPedido.quantidade" required>

      <div class="button-container">
        <button type="submit" class="action-button">{{ pedidoSelecionado ? 'Salvar Edição' : 'Adicionar Pedido' }}</button>
      </div>
    </form>
  </div>

  <div class="list-section">
    <h3>Lista de Pedidos</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente ID</th>
          <th>Cliente Nome</th>
          <th>Produto ID</th>
          <th>Produto Nome</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido?.idPedido }}</td>
          <td>{{ pedido?.clienteId }}</td>
          <td>{{ pedido?.clienteNome }}</td>
          <td>{{ pedido?.produtoId }}</td>
          <td>{{ pedido?.produtoNome }}</td>
          <td>{{ pedido?.quantidade }}</td>
          <td>{{ pedido?.preco }}</td>
          <td>
            <button (click)="excluirPedido(pedido?.idPedido)" class="delete-button">Excluir</button>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>
