<div class="container">
    <h2>Checkout</h2>
    <button routerLink="/dashboard" class="back-button">Voltar para o Dashboard</button>
    <div class="search-section">
      <h3>Pesquisar por ID</h3>
      <div class="search-container">
        <label for="idPesquisa">ID do Item de Pedido:</label>
        <input type="number" id="idPesquisa" name="idPesquisa" [(ngModel)]="idPesquisa">
        <button type="button" class="action-button" (click)="pesquisarPorId()">Pesquisar</button>
      </div>
    </div>
  
    <div class="form-section">
      <h3>Novo Checkout</h3>
      <form (submit)="criarNovoItemPedido()" class="item-pedido-form">
        <label for="pedidoId">ID do Pedido:</label>
        <input type="number" id="pedidoId" name="pedidoId" [(ngModel)]="novoItemPedidoRequest.pedidoId" required>
  
        <label for="pagamentoId">ID do Pagamento:</label>
        <input type="number" id="pagamentoId" name="pagamentoId" [(ngModel)]="novoItemPedidoRequest.pagamentoId" required>
  
        <button type="submit" class="action-button">Adicionar</button>
      </form>
    </div>
  
    <div class="list-section">
        <h3>Lista de Checkout</h3>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ID do Pedido</th>
              <th>ID do Pagamento</th>
              <th>ID do Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Status do Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPedido of itemPedidos">
              <td>{{ itemPedido.id }}</td>
              <td>{{ itemPedido.pedidoId }}</td>
              <td>{{ itemPedido.pagamentoId }}</td>
              <td>{{ itemPedido.produtoId }}</td>
              <td>{{ itemPedido.quantidade }}</td>
              <td>{{ itemPedido.preco }}</td>
              <td>{{ itemPedido.statusPagamento }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  