<div class="container">
  <h2>Fornecedores</h2>
  <button routerLink="/dashboard" class="back-button">Voltar para o Dashboard</button>

  <div class="search-section">
    <label for="idPesquisa">Pesquisar por ID:</label>
    <input type="number" id="idPesquisa" name="idPesquisa" [(ngModel)]="idPesquisa">
    <button (click)="pesquisarFornecedoresPorId()">Pesquisar por ID</button>
  </div>

  <div class="form-section">
    <h3>{{ isNewFornecedor ? 'Novo Fornecedor' : 'Editar Fornecedor' }}</h3>
    <form (submit)="createOrUpdateFornecedor()" class="fornecedor-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="newFornecedor.nome" required>

      <label for="cnpj">CNPJ:</label>
      <input type="text" id="cnpj" name="cnpj" [(ngModel)]="newFornecedor.cnpj" mask="00.000.000/0000-00" required>

      <div class="button-container">
        <button type="submit" class="action-button">{{ isNewFornecedor ? 'Adicionar Fornecedor' : 'Salvar Edição' }}</button>
        <button type="button" class="action-button cancel-button" *ngIf="isEditing" (click)="discardChanges()">Cancelar Edição</button>
      </div>
    </form>
  </div>

  <div class="list-section">
    <h3>Lista de Fornecedores</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
          <td>{{ fornecedor.id }}</td>
          <td>{{ fornecedor?.nome }}</td>
          <td>{{ fornecedor?.cnpj }}</td>
          <td>
            <button (click)="editFornecedor(fornecedor)" class="edit-button">Editar</button>
            <button (click)="deleteFornecedor(fornecedor.id)" class="delete-button">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>