<!-- fornecedor.component.html -->

<div class="container">
  <h2>Fornecedores</h2>
  <button routerLink="/dashboard" class="back-button">Voltar para o Dashboard</button>

  <div class="form-section">
    <h3>{{ editarFornecedor ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</h3>
    <form (submit)="createOrUpdateFornecedor()" class="fornecedor-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="novoFornecedor.nome" required>
  
      <label for="cnpj">CNPJ:</label>
      <input type="text" id="cnpj" name="cnpj" [(ngModel)]="novoFornecedor.cnpj" required>
  
      <button type="submit" class="action-button">
        {{ editarFornecedor ? 'Salvar Edição' : 'Adicionar Fornecedor' }}
      </button>
    </form>
  </div>
  

  <div class="list-section">
    <h3>Lista de Fornecedores</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
          <td>{{ fornecedor.id }}</td>
          <td>{{ fornecedor?.nome }}</td>
          <td>{{ fornecedor?.cnpj }}</td>
          <td>
            <button (click)="editFornecedor(fornecedor)" class="edit-button">Editar</button>
            <button (click)="deleteFornecedor(fornecedor.id)" class="delete-button">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
