<div class="container">
  <h2>Categorias</h2>
  <button routerLink="/dashboard" class="back-button">Voltar para o Dashboard</button>

  <div class="form-section">
    <h3>{{ isNewCategoria ? 'Nova Categoria' : 'Editar Categoria' }}</h3>
    <form (submit)="createOrUpdateCategoria()" class="categoria-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="novaCategoria.nome" required>

      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" [(ngModel)]="novaCategoria.descricao" required>

      <div class="button-container">
        <button type="submit" class="action-button">{{ isNewCategoria ? 'Adicionar Categoria' : 'Salvar Edição' }}</button>
        <button type="button" class="action-button cancel-button" *ngIf="isEditing" (click)="cancelEdit()">Cancelar Edição</button>
      </div>
    </form>
  </div>

  <div class="list-section">
    <h3>Lista de Categorias</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.nome }}</td>
          <td>{{ categoria.descricao }}</td>
          <td>
            <button (click)="editCategoria(categoria)" class="edit-button">Editar</button>
            <button (click)="deleteCategoria(categoria.id)" class="delete-button">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
